.projects {
  padding-top: 1em;
}

.img {
  height: 15em;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.img.svr {
  background-image: url("/assets/referenz_svr.png");
}

.img.tfn {
  background-image: url("/assets/referenz_tfn.png");
}

.img.mfa {
  background-image: url("/assets/referenz_mfa.png");
}

.img_card {
  margin-top: 1em;
  width: 33.33%;
  padding: 0 1em;
}
