.projects {
  padding-top: 1em;
}

.img {
  height: 15em;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  background-position: center;
}

.img.svr {
  background-image: url("/assets/referenz_svr.png");
}

.img.tfn {
  background-image: url("/assets/referenz_tfn.png");
}

.img.mfa {
  background-image: url("/assets/referenz_mfa.png");
}

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .projects .card_wrap {
    flex-direction: column;
  }

  .img_card {
    margin: 1em 0 2em;
    padding: 0 1em;
  }

  .img_card:last-of-type {
    margin-bottom: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img_card {
    width: 33.33%;
    margin: 1em 0 2em;
    padding: 0 1em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
