.hero {
  margin-top: 8em;
}

.intro {
  text-align: center;
  width: 50%;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}

.avatar {
  height: 350px;
  width: 350px;
  background-image: url("/assets/ps.JPG");
  background-size: cover;
  border-radius: 50%;
}
