.cv {
  color: white;
  padding-top: 1em;
}

.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
  margin: 1em 0 2em;
}

.salesmachine_logo {
  padding: 0.5em;
}

.education_logo,
.experience_logo {
  padding-right: 2em;
}

.experience_inner,
.education_inner {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.education_card {
  width: 50%;
  margin-right: 1em;
}

.experience_card {
  width: 50%;
  margin-left: 1em;
}

.new_cv {
  display: flex;
  justify-content: space-between;
}

.education,
.experience {
  width: 50%;
}

.education {
  margin-right: 1em;
}

.experience {
  margin-left: 1em;
}

.cv h3 {
  text-align: center;
}

.cv li {
  padding-bottom: 2em;
  position: relative;
  list-style: none;
}

.cv li:last-of-type {
  padding-bottom: 0.5em;
}

.cv li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: white;
  left: -24px;
  top: 5px;
}

.cv li:first-of-type:before {
  border: 3px solid white;
  background-color: var(--secondary-color);
  left: -27px;
  z-index: 98;
}

.cv li:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  display: block;
  background-color: white;
  left: -20px;
  top: 5px;
}

.cv small {
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .new_cv {
    flex-direction: column;
  }

  .education,
  .experience {
    width: 100%;
  }

  .experience {
    margin-left: 0;
    margin-top: 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
