.container {
  margin: 0 6em;
}

.centered {
  text-align: center;
}

.container_heading {
  text-align: center;
}

.card_wrap {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1em 3em;
}

.card_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark_bg {
  background-color: black;
}
