.container {
  margin: 0 6em;
}

.centered {
  text-align: center;
}

.container_heading {
  text-align: center;
}

.card_wrap {
  display: flex;
  justify-content: space-between;
}

.card_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.dark_bg {
  background-color: #211951;
}
