:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: #a3ffd6;
  --secondary-color: #8576ff;
  --third-color: #ffa387;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #1b1b1b;
  color: white;
}
